<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="logo" src="">
  <button
    class='navbar-toggler'
    type='button'
    data-bs-toggle='collapse'
    data-bs-target='#navbarNav'
    aria-controls='navbarNav'
    aria-expanded='false'
    aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown active">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="personDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Personenverwaltung
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/createPerson">Neue Person</a>
            <a class="dropdown-item" routerLink="/listPerson">Personenliste</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="serviceProviderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Transportdienstleister
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/createServiceProvider">Neuer Transportdienstleister</a>
            <a class="dropdown-item" routerLink="/listServiceProvider">Transportdienstleister Liste</a>
            <a class="dropdown-item" routerLink="/listVehicle">Fahrzeug Liste</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="body">
  <router-outlet></router-outlet>
</div>
