<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2>Person hinzufügen</h2>
      <form (ngSubmit)="savePerson()" #personForm="ngForm">
        <div class="mb-3">
          <label for="firstName" class="form-label">Vorname:</label>
          <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName" name="firstName" required>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Nachname:</label>
          <input type="text" class="form-control" id="lastName" [(ngModel)]="lastName" name="lastName" required>
        </div>
        <div class="mb-3">
          <label for="birthday" class="form-label">Geburtsdatum:</label>
          <input type="date" class="form-control" id="birthday" [(ngModel)]="birthday" name="birthday" required>
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">Geschlecht:</label>
          <select class="form-select" id="gender" [(ngModel)]="gender" name="gender" required>
            <option [ngValue]="'Male'">Männlich</option>
            <option [ngValue]="'Female'">Weiblich</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="wheelchairUser" class="form-label">Rollstuhlnutzer:</label>
          <select class="form-select" id="wheelchairUser" [(ngModel)]="wheelchairUser" name="wheelchairUser" required>
            <option [ngValue]="true">Ja</option>
            <option [ngValue]="false">Nein</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="startPoint" class="form-label">Startpunkt:</label>
          <input type="text" class="form-control" id="startPoint" [(ngModel)]="startPoint" name="startPoint" required>
        </div>
        <div class="mb-3">
          <label for="endPoint" class="form-label">Endpunkt:</label>
          <input type="text" class="form-control" id="endPoint" [(ngModel)]="endPoint" name="endPoint" required>
        </div>
        <button type="submit" class="btn btn-primary">Speichern</button>
        <button type="button" class="btn btn-secondary" (click)="resetForm()">Formular zurücksetzen</button>
      </form>
    </div>
  </div>
</div>
